@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");

* {
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  font-family: "Kufam", sans-serif;
  padding: 10px 10px 10px 10px;
}

body {
  background-color: red;
  color: #111;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100px;
  padding: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-flow: column;
  align-items: center;
}

.all-container {
  min-height: 300px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
}

.all-container name {
  width: 100%;
}
